<div id="container">
    <div style="display: inline-block;"><h1>{{title}}</h1></div>
    <div *ngIf="posting" style="display: inline-block;" class="loader pull-right">
    </div>
</div>

<form #signupForm="ngForm" role="form" (ngSubmit)="register()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control" [(ngModel)]="registration.name" required/>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" name="address" id="address" class="form-control" [(ngModel)]="registration.address"
               required/>
    </div>
    <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="number" name="phone" id="phone" class="form-control" [(ngModel)]="registration.phone"/>
    </div>
    <div class="form-group">
        <label for="username">User Name</label>
        <input type="email" name="username" id="username" class="form-control" [(ngModel)]="registration.username"
               required/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" [(ngModel)]="registration.password"
               required/>
    </div>
    <br/>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Register</button>
        <a href="{{extraButtonUrl}}" class="btn btn-link">{{extraButtonName}}</a>
    </div>
</form>
<hr/>
<div class="alert alert-success" *ngIf="message && success">
    {{message}}
</div>

<div class="alert alert-danger" *ngIf="message && !success">
    {{message}}
</div>
