<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
       <!-- <img src="../assets/images/map/bicycle-store.svg" class="logo">-->
      </a>
      <span class="navbar-brand">Public Transportation Services</span>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/login">Login</a>
      <a class="navbar-brand" href="/bus-owner-registration">Bus-Owner</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

